@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #2d2c2c;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  width: 100%;
  min-height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
}

.time, .date {
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  line-height: 100px;
  float: left;
}

.nav {
  float: right;
  list-style: none;
  margin-top: 0px;
  margin-right: 15px;
  padding-left: 0px;
}

.nav li {
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 100px;
  margin-left: 10px;
  display: inline;
}

.nav a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;

}

/* Carousel */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(14, 29, 51, 0.8)), to(rgba(14, 29, 51, 0.2)));
  background: linear-gradient(to bottom, rgba(14, 29, 51, 0.8), rgba(14, 29, 51, 0.2));
}

.hero-slider {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-slider .carousel-cell {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-slider .carousel-cell .inner {
  position: relative;
  top: 50%;
  margin: 0 75px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: white;
  text-align: center;
}

.hero-slider .carousel-cell .inner .subtitle {
  font-size: 2.2rem;
  line-height: 1.2em;
  font-weight: 200;
  font-style: italic;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 5px;
}

.hero-slider .carousel-cell .inner .title {
  font-size: 3rem;
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 40px;
}

.hero-slider .carousel-cell .inner .btn {
  border: 1px solid #fff;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 3px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.hero-slider .carousel-cell .inner .btn:hover {
  background: #fff;
  color: #fff;
}

.hero-slider .flickity-prev-next-button {
  width: 50px;
  height: 50px;
  background: transparent;
}

.hero-slider .flickity-prev-next-button:hover {
  background: transparent;
}

.hero-slider .flickity-prev-next-button .arrow {
  fill: white;
}

.hero-slider .flickity-page-dots {
  bottom: 30px;
}

.hero-slider .flickity-page-dots .dot {
  width: 30px;
  height: 4px;
  opacity: 1;
  background: rgba(255, 255, 255, 0.5);
  border: 0 solid white;
  border-radius: 0;
}

.hero-slider .flickity-page-dots .dot.is-selected {
  background: #f00;
  border: 0 solid #f00;
}


.weatherwidget-io {
  margin: 0 50px;
}

.future-forecast .today {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  /* border-radius: 10px; */

}

.future-forecast .today .day {
  padding: 5px 10px;
  background: #000;
  border-radius: 30px;
  text-align: center;
}

.future-forecast .today .temp {
  font-size: 12px;
  padding-top: 5px;
}

.future-forecast {
  bottom: 0;
  color: white;
  width: 100%;
  margin-top: -35px;
  align-items: center;
  justify-content: center;
}


.future-forecast .weather-forecast {
  justify-content: center;
}

.weather-forecast .weather-forecast-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  margin: -30px;
}

.weather-forecast .weather-forecast-item .day {
  padding: 5px 15px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  text-align: center;
}

.weather-forecast .weather-forecast-item .temp {
  font-weight: 500;
  font-size: 12px;

}


@media only screen and (max-width:730px) {

  .future-forecast {
    justify-content: start;
    align-items: none;
    overflow-y: scroll;
  }

  .future-forecast .today .temp {
    font-size: 12px;
    padding-top: 20px;
  }

  .date-container .time {
    font-size: 12px;
  }

  .date-container #am-pm {
    font-size: 15px;
  }

  .date-container .date {
    font-size: 15px;
  }

  .place-container {
    text-align: end;
    margin-top: 15px;
  }

  .place-container .time-zone-londra {
    font-size: 20px;
  }

  .current-info .others {
    padding: 12px;
  }

  .current-info .others .wather-item {
    font-size: 14px;
  }
}


@media only screen and (max-width: 1000px) {
  .future-forecast {
    justify-content: start;
    align-items: none;
    overflow-x: scroll;
  }

}


.credits {
  font-size: 12px;
  color: #fff;
  text-align: center;

}